# Ignore the __pycache__ folder
__pycache__

# Ignore th .venv folder
.venv

# Ignore the images folder
images

# Ignore the .env file
.env

# Ignore .vscode
.vscode

# Ignore HTML folder, until web app is finished
html

# ignore "custom" markdown creator "md.py"
md.py