@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--ctk-font-size: 13px;
	--button-color: #1f6aa5;
	--button-hover-color: #144870;
	--button-text-color: #dce4ee;
	--button-text-hover-color: var(--button-text-color);
	--button-border: #949a9f;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	width: 100%;
	height: 100vh;
	background-color: #151515;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

label {
	color: #fff;
	font-size: var(--ctk-font-size);
}

select,
input {
	background-color: #343638;
	color: #fff;
	border: 0;
	width: 140px;
	height: 28px;
	border-radius: 5px;
}

input {
	text-align: center;
}

button {
	cursor: pointer;
	width: 140px;
	height: 28px;
	border-width: 0.5px;
	border-color: var(--button-border);
	border-radius: 5px;
	background-color: var(--button-color);
	color: var(--button-text-color);
	transition: background-color 0.5s ease;
}

button:hover {
	background-color: var(--button-hover-color);
	color: var(--button-text-hover-color);
}

.window {
	position: relative;
	width: 861px;
	height: 351px;
	background-color: #242424;
}

#image-frame {
	position: absolute;
	left: 52px;
	top: 36px;
	width: 221px;
	height: 277px;
	border-radius: 5px;
	background-color: #303030;
}

.recent-images-frame {
	position: absolute;
	left: 318px;
	top: 38px;
	width: 187px;
	height: 66px;
	border-radius: 5px;
	background-color: #303030;
}

.recent-label {
	display: inline-block;
	font-size: var(--ctk-font-size);
	text-align: center;
	position: absolute;
	left: 4px;
	top: 5px;
	width: 95px;
	height: 16px;
	color: #fff;
}

#recent-cmb {
	position: absolute;
	left: 17px;
	top: 28px;
	width: 153px;
	height: 24px;
	border-radius: 3px;
}

.gen-button {
	cursor: pointer;
	position: absolute;
	left: 341px;
	top: 285px;
}

.info-form {
	position: relative;
	left: 550px;
	top: 36px;
	width: 297px;
	height: 269px;
}

.format-label {
	position: absolute;
	left: 0;
	top: 0;
	width: 46px;
	height: 12px;
}

#format-input {
	position: absolute;
	left: 0;
	top: 17px;
}

.style-label {
	position: absolute;
	left: 0;
	top: 50px;
	width: 34px;
	height: 12px;
}

#moon-style-input {
	position: absolute;
	left: 0;
	top: 67px;
}

#background-style {
	position: absolute;
	left: 0;
	top: 100px;
}

#background-color-input {
	position: absolute;
	left: 0;
	top: 133px;
}

#heading-color-input {
	position: absolute;
	left: 0;
	top: 166px;
}

#text-color-input {
	position: absolute;
	left: 0;
	top: 199px;
}

.observer-label {
	position: absolute;
	left: 157px;
	top: 0;
	width: 60px;
	height: 12px;
}

#latitude-input {
	position: absolute;
	left: 157px;
	top: 17px;
}

#longitude-input {
	position: absolute;
	left: 157px;
	top: 50px;
}

#date-input {
	position: absolute;
	left: 157px;
	top: 83px;
}

.view-label {
	position: absolute;
	left: 157px;
	top: 116px;
	width: 37px;
	height: 12px;
}

#view-type-input {
	position: absolute;
	left: 157px;
	top: 133px;
}

#orientation-input {
	position: absolute;
	left: 157px;
	top: 166px;
}

#update-button {
	position: absolute;
	left: 78px;
	top: 249px;
}
